[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
novus = "*"
rule34 = "*"
bs4 = "*"
lxml = "*"
ffmpeg-python = "*"
requests = "*"
colorlog = "*"
discord-together = "*"
pymongo = {extras = ["srv"], version = "*"}

[dev-packages]
pre-commit = "*"
black = "==21.12b0"

[requires]
python_version = "3"
